<%- include("templates/header") %> 
    <h1>create user</h1>
    <form action='/signingup' method='post' class="form-group">
    <input name='name'  class="form-control" type='text' placeholder='name'>
    <input name='email' class="form-control" type='email' placeholder='email'>
    <input name='password' class="form-control" type='password' placeholder='password'>
    <button class="btn btn-primary" >Submit</button>
    </form>
<%- include("templates/footer") %> 