<%- include("templates/header") %> 
    <h1 style='color:red'>Error!</h1>
    <div class="d-flex align-items-center justify-content-center vh-100 bg-primary">
        <h1 class="display-1 fw-bold text-white"><%= error %> </h1>
    </div>
    <div></div>
<%- include("templates/footer") %> 