<%- include("templates/header") %> 
    <h1>log in</h1>
    <div class="form-group">
    <form action='/loggingin' method='post'>
    <input name='email' class="form-control" type='email' placeholder='email'>
    <br>
    <input name='password' class="form-control"  type='password' placeholder='password'>
    <br>
    <button class="btn btn-primary">Submit</button>
    </form>
</div>
<%- include("templates/footer") %> 