<%- include("templates/header") %> 

<style>
  body{margin-top:20px;
background:#eee;
}
.team-style1 {
    position: relative;
    display: block;
    overflow: hidden
}

.team-style1 .team-info {
    bottom: 15px;
    left: 15px;
    right: 15px;
    border-radius: 5px;
    transform: translate3d(0px, 0%, 0px);
    transition: all 800ms ease 0.35s;
    padding: 25px 30px;
    box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1);
    background: #ffffff;
    position: absolute
}

.team-style1 .team-overlay {
    left: 15px;
    right: 15px;
    opacity: 1;
    padding: 0 20px;
    position: absolute;
    top: 15px;
    bottom: 15px;
    transform: translate3d(0px, -110%, 0px);
    transition: all 700ms ease 0.35s;
    box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1)
}

.team-style1:hover .team-overlay {
    transform: translate3d(0px, 0, 0px);
    transition-delay: 0.1s;
    background: rgba(47,191,167,0.9);
    border-radius: 5px
}

.team-style1:hover .team-info {
    transform: translate3d(0px, 130px, 0px);
    transition-delay: 0.2s
}

.team-style1 .social-icon-style1 {
    border-top: 2px dotted rgba(255,255,255,0.3);
    margin-top: 15px;
    padding-top: 20px
}

.team-bg-shape img {
    position: absolute;
    top: -40px;
    right: -40px;
    z-index: 0
}

@media screen and (max-width: 991px) {
    .team-style1 .team-info {
        padding:20px
    }
}

.team-style1 .social-icon-style1 {
    border-top: 2px dotted rgba(255,255,255,0.3);
    margin-top: 15px;
    padding-top: 20px;
}

.social-icon-style1 {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

.social-icon-style1 li {
    display: inline-block;
    margin-right: 5px;
}

.social-icon-style1 li a {
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    color: #2fbfa7;
    background-color: #ffffff;
}

a {
text-decoration:none;    
}
.profile-card{
    width: 25vw;
    height: 50vh;
}

</style>

<div class="container">
    <!-- row 1 -->
    <br>
  <div class="row position-relative mt-n1-9">
      <div class="col-md-6 col-lg-4 mt-1-9">
          <div class="team-style1 text-center">
              <img src="BCIT_Logo_black.webp" class="profile-card" alt="...">
              <div class="team-info">
                  <h3 class="text-primary mb-1 h4">Murilo Souza</h3>
                  <span class="font-weight-600 text-secondary">Web Designer</span>
              </div>
              <div class="team-overlay">
                  <div class="d-table h-100 w-100">
                      <div class="d-table-cell align-middle">
                          <h3><a href="#" class="text-white">About Murilo Souza</a></h3>
                          <p class="text-white mb-0">I preserve each companion certification and I'm an authorized AWS solutions architect professional.</p>
                          <ul class="social-icon-style1">
                              <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                              <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-4 mt-1-9">
          <div class="team-style1 text-center">
              <img src="BCIT_Logo_black.webp" class="profile-card" alt="...">
              <div class="team-info">
                  <h3 class="text-primary mb-1 h4">Balsam Samira</h3>
                  <span class="font-weight-600 text-secondary">Photographer</span>
              </div>
              <div class="team-overlay">
                  <div class="d-table h-100 w-100">
                      <div class="d-table-cell align-middle">
                          <h3><a href="#" class="text-white">About Balsam Samira</a></h3>
                          <p class="text-white mb-0">I preserve each companion certification and I'm an authorized AWS solutions architect professional.</p>
                          <ul class="social-icon-style1">
                              <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                              <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-4 mt-1-9">
          <div class="team-style1 text-center">
              <img src="BCIT_Logo_black.webp" class="profile-card" alt="...">
              <div class="team-info">
                  <h3 class="text-primary mb-1 h4">Rodrigo Ribeiro</h3>
                  <span class="font-weight-600 text-secondary">Psychologist</span>
              </div>
              <div class="team-overlay">
                  <div class="d-table h-100 w-100">
                      <div class="d-table-cell align-middle">
                          <h3><a href="#" class="text-white">About Rodrigo Ribeiro</a></h3>
                          <p class="text-white mb-0">I preserve each companion certification and I'm an authorized AWS solutions architect professional.</p>
                          <ul class="social-icon-style1">
                              <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                              <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- end of row-->
  <br>
  <!-- row 2 -->
  <div class="row position-relative mt-n1-9">
    <div class="col-md-6 col-lg-4 mt-1-9">
        <div class="team-style1 text-center">
            <img src="BCIT_Logo_black.webp" class="profile-card" alt="...">
            <div class="team-info">
                <h3 class="text-primary mb-1 h4">Murilo Souza</h3>
                <span class="font-weight-600 text-secondary">Web Designer</span>
            </div>
            <div class="team-overlay">
                <div class="d-table h-100 w-100">
                    <div class="d-table-cell align-middle">
                        <h3><a href="#" class="text-white">About Murilo Souza</a></h3>
                        <p class="text-white mb-0">I preserve each companion certification and I'm an authorized AWS solutions architect professional.</p>
                        <ul class="social-icon-style1">
                            <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mt-1-9">
        <div class="team-style1 text-center">
            <img src="BCIT_Logo_black.webp" class="profile-card" alt="...">
            <div class="team-info">
                <h3 class="text-primary mb-1 h4">Balsam Samira</h3>
                <span class="font-weight-600 text-secondary">Photographer</span>
            </div>
            <div class="team-overlay">
                <div class="d-table h-100 w-100">
                    <div class="d-table-cell align-middle">
                        <h3><a href="#" class="text-white">About Balsam Samira</a></h3>
                        <p class="text-white mb-0">I preserve each companion certification and I'm an authorized AWS solutions architect professional.</p>
                        <ul class="social-icon-style1">
                            <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mt-1-9">
        <div class="team-style1 text-center">
            <img src="BCIT_Logo_black.webp" class="profile-card" alt="...">
            <div class="team-info">
                <!-- change name -->
                <h3 class="text-primary mb-1 h4">Rodrigo Ribeiro</h3>
                <span class="font-weight-600 text-secondary">Psychologist</span>
            </div>
            <div class="team-overlay">
                <div class="d-table h-100 w-100">
                    <div class="d-table-cell align-middle">
                        <h3><a href="#" class="text-white">About Rodrigo Ribeiro</a></h3>
                        <p class="text-white mb-0">I preserve each companion certification and I'm an authorized AWS solutions architect professional.</p>
                        <ul class="social-icon-style1">
                            <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of row-->

<br>
<br>
<div>
    
</div>
<div class="container">
<!-- gallery-->
<div class="lightbox" data-mdb-lightbox-init>
    <div class="row">
      <div class="col-lg-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
          alt="Table Full of Spices"
          class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
        />
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Square/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
          alt="Coconut with Strawberries"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Vertical/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
          alt="Dark Roast Iced Coffee"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
    </div>
  </div>

</div>
</div>
<%- include("templates/footer") %> 